@media screen and (min-width: 600px) and (max-width: 1024px) {
    #sidebar{
        width: 100px;
    }

    tr th{
        height: 50px;
    }

    #content{
        height: 100px;
    }

    #footer{
        height: 50px;
    }
}

@media screen and (max-width: 600px){
    #sidebar{
        width: 75px;
    }

    tr th{
        height: 75px;
    }

    #content{
        height: 200px;
    }

    #footer{
        height: 75px;
    }
}