body{
    display: flex;
    justify-content: center;
}

#name{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #da102e;
    height: 150px;
}

.table-style{
    background-color: #008e6a;
    border: 2px solid black;
    text-align: center;
    width: 100%;
    height: 100vh;
}

th{
    border: 3px solid #da102e;
}

tr th{
    height: 75px;
}

td{
    margin: 0;
    padding: 0;
}

.navbar th:hover{
    color: #da102e;
    border: 3px solid #333;
}

#sidebar{
    width: 200px;
    border: 3px solid #000;
}

#main{
    width: 400px;
    border: 3px solid #000;
}

#content{
    height: 250px;
    text-wrap: wrap;
    background-color: #da102e;
    color: black;
}

#footer{
    height: 100px
}